body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 65px;
  background: darkmagenta;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 10px;
}

.footer {
  height: 40px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-part {
  display: flex;
  flex: 1 1 auto;
}

.cards {
  flex: 2 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex: 1 1 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-top: 15px;
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 250px;
  height: 350px;
  padding: 10px;
}