/* Add CSS Styling */

.button {
    font-size: 28px;
    font-family: Helvetica, "Time New Roman", sans-serif;
}

.button.first {
    background-color: #000000;
    color: #ffffff;
}

.button.second {
    background-color: #ffff00;
}


